//Palette color norme contrast WCAG
$colorBG: #fff;
$gris: #797676;

@mixin btn-style($style) {
    cursor: pointer;
    @if $style==delete {
        border: solid 1px;
        color:red
    } @else {
        border: none;
    }
}
